DATABASE_URL=sqlite:///./exchange_rates.db
CRON_SCHEDULE=0 9 * * *

SSL_VERIFY=false
REQUEST_TIMEOUT=30
PLAYWRIGHT_TIMEOUT=60000

ENABLE_PARALLEL=true
MAX_WORKERS=8
PLAYWRIGHT_MAX_WORKERS=3

API_MAX_LIMIT=100
CORS_ORIGINS=*
CORS_ALLOW_CREDENTIALS=false
TRUST_PROXY_HEADERS=false
RATE_LIMIT_ENABLED=true
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_WINDOW_SECONDS=60
RATE_LIMIT_MAX_CLIENTS=10000

KHANBANK_URI=https://www.khanbank.com/api/back/rates
GOLOMT_URI=https://www.golomtbank.com/api/exchange
XACBANK_URI=https://xacbank.mn/api/currencies
ARIGBANK_API_URL=https://www.arigbank.mn/exchange/getRate
ARIGBANK_SIGNIN_URL=https://www.arigbank.mn/exchange/signIn
ARIGBANK_BEARER_TOKEN=
STATEBANK_URI=https://www.statebank.mn/back/api/fetchrate
MONGOLBANK_URI=https://www.mongolbank.mn/en/currency-rate-movement/data
CAPITRONBANK_API_URL=https://www.capitronbank.mn/admin/en/wp-json/bank/rates/capitronbank

TDBM_URI=https://www.tdbm.mn/en/exchange-rates
BOGDBANK_URI=https://www.bogdbank.com/exchange
CKBANK_URI=https://www.ckbank.mn/currency-rates
NIBANK_URI=https://www.nibank.mn/en/rate
TRANSBANK_URI=https://transbank.mn/en/exchange
MBANK_URI=https://m-bank.mn/

SENDMN_FIRESTORE_URL=https://firestore.googleapis.com/v1/projects/sendmn-remit/databases/(default)/documents/rate/exrate?key=AIzaSyCrYSDevTZ_WigjBGeOuoGj-ntLO5v9taY
NSHARGA_FIRESTORE_BASE_URL=https://firestore.googleapis.com/v1/projects/nsharga-2ec6a/databases/(default)/documents/currency_rates?key=AIzaSyBA-tL_dqi1MsO43OkwllUpV7k6rf0Iys4
