# Web Framework
fastapi>=0.104.0
uvicorn[standard]>=0.24.0

# Database
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0

# Configuration
python-dotenv>=1.0.0

# Scheduling
schedule>=1.2.0

# HTTP
requests>=2.32.0

# Web scraping
playwright>=1.40.0
lxml>=5.2.0

# Dev
black>=24.3.0
isort>=5.12.0
Pygments>=2.15.0

# Testing
pytest>=7.4.4
pytest-cov>=4.1.0
httpx>=0.25.0
